<html>
  <head>
    <title>Locale Switcher</title>
  </head>
  <body>
    <h1>Locale Switcher</h1>
    <ul>
      <li>Accept-Language: <span><%= acceptLanguage %></span></li>
      <li>navigator.language: <span id="nl"></span></li>
      <li>navigator.languages: <span id="nls"></span></li>
    </ul>
    <script>
      const nl = document.getElementById("nl");
      const nls = document.getElementById("nls");
      nl.innerText = navigator.language || "Not specified";
      nls.innerText = navigator.languages || "Not specified";
    </script>
  </body>
</html>
