.App-LocaleList {
  margin: 0;
  padding: 0;

  list-style: none;
}

.App-Search {
  height: 32px;
  width: 216px;

  margin: 12px;
  padding: 8px 12px;

  font-size: 12px;

  border: 1px solid #ccc;
}

.App-Search:focus {
  border-color: #a1b9eb;
  outline: 0;
}
