.App-LocaleList {
  margin: 0;
  padding: 0;

  list-style: none;
}

.App-Search {
  height: 32px;
  width: 216px;

  margin: 8px 12px 16px;
  padding: 8px 12px;

  font-size: 12px;

  border: 1px solid #ccc;
}

.App-Search:focus {
  border-color: #a1b9eb;
  outline: 0;
}

.App-ShowAll {
  width: 100%;

  padding: 12px 12px 8px;
  margin-top: 8px;

  border: 0;
  outline: 0;
  background: transparent;

  border-top: 1px solid #ccc;
}
