.LocaleItem button {
  position: relative;

  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 40px;

  padding: 8px 12px;
  line-height: 24px;

  font-size: 12px;

  border: 0;
  outline: 0;
  background: transparent;
}

.LocaleItem-Name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.LocaleItem-Code {
  flex-grow: 1;
  margin-left: 4px;
  text-align: right;
  opacity: 0.65;
}

.LocaleItem--focused button {
  background-color: #eaebeb;
}

.LocaleItem--selected button::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  width: 2px;

  background-color: #4688f1;
}

.LocaleItem--no-emoji .LocaleItem-Emoji {
  color: transparent;
  text-shadow: 0 0 0 #5f6368;
}
